.parisienne-regular {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
}



.main {
    margin: 90px 0;
    background-color: #292D33;
    overflow-x: hidden;
    /* Evita scroll horizontal durante la animación */
    overflow-y: auto;
    /* Permite scroll vertical si el contenido es muy alto */
    min-height: 100vh;
    /* Asegura que ocupe al menos toda la altura de la pantalla */
    width: 100vw;
}

.ciculo-foto {
    width: 28rem;
    height: 28rem;
    background-image: url('./image/caminar\ merlo.jpg');
    background-size: cover;
    /* Asegura que la imagen cubra todo el círculo */
    background-position: center;
    /* Centra la imagen dentro del círculo */
    /* background-color: yellow; */
    border: 20px solid #F1C50E;
    border-radius: 50%;
    position: absolute;
    top: 53%;
    left: -50%;
    /* Lo posicionamos fuera de la pantalla a la izquierda */
    transform: translateY(-50%);
    animation: move-right 3s linear forwards;
    z-index: 5;
    /* Asegura que la foto esté por encima de los círculos */
    /* Aplica la animación de 3 segundos */
}

/* Define los pasos de la animación "move-right" */
@keyframes move-right {
    from {
        transform: translate(0, -50%);
        /* Desde su posición inicial fuera de la pantalla */
    }

    to {
        /* Mueve el círculo hasta que su centro (50% de su ancho) esté en el centro de la pantalla (50vw) */
        transform: translate(calc(50vw - 50% + 40vw), -50%);
    }
}

/* Define la animación para que el anuncio aparezca de derecha a izquierda */
@keyframes appear-from-right {
    from {
        opacity: 0;
        /* Mantenemos el translateY y movemos el elemento fuera de la pantalla a la derecha */
        transform: translateY(-50%) translateX(100vw);
    }

    to {
        opacity: 1;
        /* Posición final del anuncio */
        transform: translateY(-50%) translateX(50%);
    }
}

/* Define la animación para que el círculo amarillo aparezca */
@keyframes appear {
    from {
        opacity: 0;
        /* Empieza invisible */
        transform: translate(-50%, 20px);
        /* Empieza un poco más abajo */
    }

    to {
        opacity: 1;
        /* Termina completamente visible */
        transform: translateX(-50%);
        /* Termina en su posición final */
    }
}

/* Creamos el círculo amarillo usando un pseudo-elemento */
.container-ciculo {
    /* Restaurado a amarillo */
    position: relative;
    margin-top: 2rem;
    /* Corregido y ajustado */
    width: 95%;
    height: 28rem;
    /* Altura reducida y corregida */
    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos base para los pseudo-elementos de los círculos decorativos */
.ciculo-foto::after,
.circle1::after,
#circle1::after,
#circle2::after,
#circle3::after,
#circle4::after {
    content: '';
    /* Requerido para que el pseudo-elemento se muestre */
    position: absolute;
    border-radius: 50%;
    /* Lo hacemos redondo */
    opacity: 0;
    /* Empieza invisible por defecto */
    animation: appear 0.5s ease-out forwards;
    /* Aplica la animación "appear" */
    animation-delay: 3s;
    /* Espera 3 segundos antes de empezar */
}

.ciculo-foto::after {
    width: 8rem;
    height: 8rem;
    background-color: #F1C50E;
    border: 30px solid #F1C50E;
    /* Un tono de amarillo dorado */
    bottom: -10%;
    left: 25%;
    transform: translateX(-50%);
}

#circle1::after {
    width: 12rem;
    height: 12rem;
    background-color: #292D33;
    border: 40px solid #555C66;
    top: 4%;
    left: 65%;
    transform: translateX(-50%);
    z-index: 2;
    /* Detrás de la foto y el anuncio */
}
/*
#circle2::after {
    width: 12rem;
    height: 12rem;
    background-color: blue;
    border: 2px solid whitesmoke;
    bottom: 48%;
    left: 13%;
    transform: translateX(-50%);
}

#circle3::after {
    width: 10rem;
    height: 10rem;
    background-color: red;
    border: 2px solid whitesmoke;
    bottom: 10%;
    left: 78%;
    transform: translateX(-50%);
    z-index: 1;
    /* Detrás del anuncio 
}

#circle4::after {
    width: 7rem;
    height: 7rem;
    background-color: #292D33;
    border: 30px solid #555C66;
    bottom: 19%;
    left: 25%;
    transform: translateX(-50%);
}
*/

.anuncio {
    position: absolute;
    width: 450px;
    /* Ancho del cuadro de anuncio */
    padding: 1rem;
    top: 95%;
    left: 30%;
    border-radius: 25px;
    opacity: 0;
    /* Empieza invisible */
    animation: appear-from-right 0.8s ease-out forwards;
    /* Usa la nueva animación */
    animation-delay: 3s;
    /* Empieza al mismo tiempo que los otros círculos */
    background-color: white;
    /* Fondo blanco para que el texto sea legible */
    /* La transformación inicial se maneja en la animación */
    transform: translateY(-50%) translateX(100vw);
    z-index: 10;
    /* Asegura que esté por encima de los círculos */
}

.anuncio-baner {
    background-color: white;
}

.container-card {
    margin-top: 12rem;
    padding: 20px;
    width: auto;
    height: 25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}

/* Media query para dispositivos móviles */
@media (min-width: 768px) {
    .anuncio-baner {
        display: none;
    }
}

@media (max-width: 768px) {
    .ciculo-foto {
        width: 16rem;
        height: 16rem;
        border: 20px solid blue;
        top: 40%;
        left: -50%;
        /* Lo posicionamos fuera de la pantalla a la izquierda */
    }

    .ciculo-foto::after {
        width: 20%;
        height: 20%;
        bottom: -8%;
        left: 25%;

    }

    .container-ciculo {
        padding-top: 20rem;
        background-color: aqua;
        height: 80%;
    }

    .container-card {
        margin-top: 20px;
        padding-top: 50px;
        background-color: greenyellow;
        flex-direction: column;
        /* Cambia la dirección del flex a columna */
        align-items: center;
        /* Centra las tarjetas cuando están apiladas */
    }

    .anuncio {
        display: none;
    }


    .ciculo-foto::after {
        width: 5rem;
        height: 5rem;

        /* Un tono de amarillo dorado */
        bottom: -10%;
        left: 25%;
        transform: translateX(-50%);
    }

    #circle1::after {
        width: 5rem;
        height: 5rem;
        border: 20px solid blue;
        top: 0%;
        left: 85%;
        transform: translateX(-50%);
        z-index: 2;
        /* Detrás de la foto y el anuncio */
    }

    #circle2::after {
        width: 5rem;
        height: 5rem;
        border: 2px soliD blue;
        bottom: 80%;
        left: -5%;
        transform: translateX(-50%);
    }

    #circle3::after {
        width: 9rem;
        height: 9rem;
        border: 2px solid red;
        bottom: 10%;
        left: 78%;
        transform: translateX(-50%);
        z-index: 1;
        /* Detrás del anuncio */
    }

    #circle4::after {
        width: 3rem;
        height: 3rem;
        bottom: -3%;
        left: 5%;
        transform: translateX(-50%);
    }


}


/******card*******/

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 460px;
    margin: 0 25px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card .imgBox {
    position: relative;
    width: 250px;
    height: 250px;
    border: 15px soliD #F1C50E;
    background: red;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .img-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.card .imgBox:hover .img-blur {
    opacity: 1;
}

.card .img-blur a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
}

.card .img-blur::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px dotted #fff;
    pointer-events: none;
    animation: border-anime 15s linear infinite;
}

@keyframes border-anime {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.card .title {
    margin: 15px 0;
}

.card .title a {
    font-size: 1.6rem;
    color: #555;
    text-decoration: none;
    transition: 0.4s;
}

.card .title a:hover {
    color: rgb(0, 221, 147);
}

.card .text {
    font-size: 0.8rem;
    line-height: 1.5em;
    color: #555;
    opacity: 0.6;
}